{% extends 'base.html.twig' %}

{% block title %}One{% endblock %}

{% block meta_keywords %}meta_keywords{% endblock %}
{% block meta_description %}meta_description{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>
{% endblock %}